<div class="th restaurant" data-restaurant-id="<%= restaurant.id %>">
  <span class="td restaurant-name"><a class="restaurant-link" href="#"><%= restaurant.name %></a></span>
  <span class="td restaurant-max-wait-time"><%= restaurant.max_wait_time %></span>
</div>

