<div class="body">
  <h1>I am a</h1>
  <div class="big-guest"><%= link_to "Guest", restaurants_path, remote: true, class: "guest-link" %></div>
  <div class="big-restaurant"><a href="#" class="restaurant-link">Restaurant</a></div>
</div>

<div class="restaurant-login hidden">
  <%= render partial: 'restaurants/login' %>
</div>

<div class="restaurant-registration hidden"></div>