div.body {
  margin-top:5em;
}

div.guest-button {
  font-size:3.5em;
  font-weight:bold;
  padding-top:.3em;
  padding-bottom:.3em;
  color:#2EC6A4;
}

div.guest-button a:hover {
  color: #35E5BE;
}

div.guest-button a:active {
  color: #88FFE4;
}

div.restaurant-button {
  font-size:3.5em;
  font-weight:bold;
  padding-top:.3em;
  padding-bottom:.3em;
  color:#2EC6A4;
}

div.restaurant-button a:hover {
  color: #35E5BE;
}

div.restaurant-button a:active {
  color: #88FFE4;
}

div > a {
  color:#2EC6A4;
  text-decoration: none;
}

div > a.visited {
  color:#2EC6A4;
  text-decoration: none;
}

div.register-link {
  padding-top:1em;
  font-weight: bold;
}

div.register-link a:hover {
  color: #35E5BE;
}

div.register-link a:hover {
  color: #88FFE4;
}