/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

div.body {
  margin-top:5em;
}

div.big-guest {
  font-size:3.5em;
  font-weight:bold;
  padding-top:.3em;
  padding-bottom:.3em;
  color:#2EC6A4;
}

div.big-restaurant {
  font-size:3.5em;
  font-weight:bold;
  padding-top:.3em;
  padding-bottom:.3em;
  color:#2EC6A4;
}

div.big-restaurant a:hover {
  color: #35E5BE;
}

div.big-guest a:hover {
  color: #35E5BE;
}


div > a {
  color:#2EC6A4;
  text-decoration: none;
}

div > a.visited {
  color:#2EC6A4;
  text-decoration: none;
}

div.register-link {
  padding-top:1em;
  font-size:1.5em;
  font-weight: bold;
}

.restaurant-login {
  margin-top:1.5em;
}

.restaurant-login > form > div > input {
  font-size:1em;
  margin-bottom:5px;
  height:2em;
}

/** for when form errors happen **/

div.field_with_errors > input {
  font-size:1em;
  margin-bottom:5px;
  height:2em;
}

.hidden {
  display:none;
}

div.register-link a:hover {
  color: #35E5BE;
}
div#guest-content {
  margin-top:2em;
}

div.guest-name {
  font-size: 2.5em;
  margin-bottom:.5em;
  margin-top:1.5em;
  text-align:center;
}

div.seat-time {
  font-size: 5em;
  margin-bottom:.5em;
}

div.cancel-button {
  font-size:2em;
  background-color: #c0392b;
  width: 10em;
  margin:0 auto;
  padding-top:.5em;
  padding-bottom:.5em;
  border-radius:20px;
  cursor:pointer;
}

span.cancel {
  color:#F5F7F7;
}

span.ha {
  color:#c0392b;
}

div.confirm-button {
  font-size:2em;
  background-color: #2EC6A4;
  width: 10em;
  margin:0 auto;
  padding-top:.5em;
  padding-bottom:.5em;
  border-radius:20px;
  cursor:pointer;
}

div.confirmation-message {
  color:#c0392b;
  margin-top:1em;
  font-size:1.4em;
}
html {
  background-color: #F5F7F7;
  font-size: 1em;
}

body {
  color: #142837;
  font-family: 'Open Sans', helvetica-light, sans-serif;
  margin: 0 auto;
}

.navbar {
  background-color: #2EC6A4;
  height:6em;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#container {
  margin: 0 auto;
  padding-top:8.5em;
  padding-bottom:5em;
  text-align: center;
}

#title1 {
  color: #F5F7F7;
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  margin-left: 3%;
  position: relative;
  top: -0.4em;
  width: 7%;
}

#title2 {
  bottom: 0.2em;
  display: inline-block;
  font-family: 'Crete Round', serif;
  font-size: 3.1em;
  position: relative;
  z-index:3;
}

.complete-title {
  display: inline-block;
  padding-top: 2em;
  width: 60%;
}

a {
  color:#142837;
  text-decoration: none;
}

a.visted {
  color:#142837;
  text-decoration: none;
}

#main-nav {
  margin-left: 108em;
}

.restaurant-name {
  font-size:2em;
}

.restaurant-menu {
  font-family: 'Crete Round', serif;
  display: inline-block;
  padding-left: 12%;
  margin-left: 10%;
  z-index: 3;
}

.restaurant-logout {
  margin-left: 74%;
  width: 25%;
}

.restaurant-menu a{
  color: #142837;
  display: block;
  font-family: 'Crete Round', serif;
  z-index: 3;
}

.restaurant-menu a:hover {
  color: #F5F7F7;
}

div#time {
  font-size:2.5em;
  text-align:left;
  margin-left:8.5%;
  width: 50%;
  display: block;
}
@media (min-width: 49em) and (max-width: 62em){
	.add-reservation-form {
    margin-top:2em;
    padding-bottom: 1em;
    text-align: center;
    width: 88%;
  }
  
  .new_reservation > input {
    border-radius: 5px;
    font-family:'Open Sans', helvetica-light, sans-serif;
    font-size: 1em;
    padding:4px;
    text-align: center;
    width: 45%;
  }

  .submit_button {
    background-color: #FF9900;
    border: #142837;
    border-radius: 5px;
    color: white;
    font-style: helvetica;
    font-size:3em;
  }

  input.submit_button {
    font-size: 1.5em;
    height: 2em;
    margin-left: 3.5em;
    position: relative;
    width: 75%;
  }
}
@media (max-width: 48em){
	.add-reservation-form {
		margin-top:2em;
		padding-bottom: 1em;
		width: 100%;
	}

	.new_reservation > input {
		border-radius: 5px;
		font-family:'Open Sans', helvetica-light, sans-serif;
		font-size: 1em;
		padding:4px;
		text-align: center;
		width: 95%;
	}

	.submit_button {
		background-color: #FF9900;
		border: #142837;
		border-radius: 5px;
		color: white;
		font-style: helvetica;
		font-size:3em;
	}

	input.submit_button {
		font-size: 1.5em;
		height: 2em;
		margin-left: 0.4em;
		position: relative;
		width: 90%;
	}
}
@media (min-width: 63em) and (max-width: 75em){
	.add-reservation-form {
    margin-top:2em;
    padding-bottom: 1em;
    width: 100%;
  }

  form#new_reservation.new_reservation {
   width: 90%;
 }

 .new_reservation > input {
  border-radius: 5px;
  font-family:'Open Sans', helvetica-light, sans-serif;
  font-size: 1em;
  padding:4px;
  text-align: center;
  width: 17em;
}

.submit_button {
  background-color: #FF9900;
  border: #142837;
  border-radius: 5px;
  color: white;
  font-style: helvetica;
  font-size:3em;
}


form#new_reservation.new_reservation > .submit_button {
 width: 15em;
}
}
@media (min-width: 48em) and (max-width: 61em){

	html {
		background-color: #F5F7F7;
		font-size: 1em;
	} 

	body {
		color: #142837;
		font-family: 'Open Sans', helvetica-light, sans-serif;
		margin: 0 auto;
	}

	.navbar {
		background-color: #2EC6A4;
		height:6em;
		position: fixed;
		width: 100%;
		z-index: 2;
	}

	#container {
		margin: 0 auto;
		padding-top:8.5em;
		padding-bottom:5em;
		text-align: center;
	}

	#title1 {
		color: #F5F7F7;
		display: inline-block;
		font-family: 'Lobster', cursive;
		font-size: 2.5em;
		margin-left: 5%;
		top: -0.4em;
		width: 7%;
	}

	#title2 {
		display: inline-block;
		font-family: 'Crete Round', serif;
		font-size: 3.1em;
		position: relative;
		z-index:3;
	}

	.complete-title {
		display: inline-block;
		padding-top: 2em;
		width: 60%;
	}

	a {
		color:#142837;
		text-decoration: none;
	}

	a.visted {
		color:#142837;
		text-decoration: none;
	}

	#main-nav {
		margin-left: 108em;
	}

	.restaurant-name {
		font-size:2em;
	}

	.restaurant-menu {
		font-family: 'Crete Round', serif;
		display: inline-block;
		padding-left: 30%;
		margin-right: 10px;
		margin-left: auto;
		z-index: 3;
	}

	.restaurant-menu a{
		color: #142837;
		display: block;
		font-family: 'Crete Round', serif;
		z-index: 3;
	}

	.restaurant-menu a:hover {
		color: #F5F7F7;
	}

	.restaurant-menu-name {
		display: none;
	}

	.restaurant-logout {
		display: inline-block;
		margin-left: 7%;
		float: left;
	}

	div#time {
		font-size:1.5em;
		text-align:left;
		width: 100%;
		display: block;
	}
}
@media (max-width: 47em){
	html {
		background-color: #F5F7F7;
		font-size: 1em;
	} 

	body {
		color: #142837;
		font-family: 'Open Sans', helvetica-light, sans-serif;
		margin: 0 auto;
	}

	.navbar {
		background-color: #2EC6A4;
		height: 7em;
		position: fixed;
		width: 100%;
		z-index: 2;
	}

	#container {
		margin: 0 auto;
		padding-top:8.5em;
		padding-bottom:5em;
		text-align: center;
	}

	#title1 {
		color: #F5F7F7;
		display: inline-block;
		font-family: 'Lobster', cursive;
		font-size: 2em;
		margin-left: 5%;
	}

	#title2 {
		display: inline-block;
		font-family: 'Crete Round', serif;
		font-size: 2.5em;
		position: relative;
		width: 45%;
		z-index:3;
	}

	.complete-title {
		display: inline-block;
		width: 100%;
	}

	a {
		color:#142837;
		text-decoration: none;
	}

	a.visted {
		color:#142837;
		text-decoration: none;
	}

	.restaurant-name {
		font-size:1.5em;
	}

	.restaurant-menu {
		font-family: 'Crete Round', serif;
		margin-left: 74%;
		z-index: 3;
	}

	.restaurant-menu a{
		color: #142837;
		display: block;
		font-family: 'Crete Round', serif;
		z-index: 3;
	}

	.restaurant-menu a:hover {
		color: #F5F7F7;
	}

	.restaurant-menu-name {
		display: none;
	}

	.restaurant-logout {
		display: inline-block;
		margin-left: -13%;
		float: left;
	}

	div#time {
		font-size:1.5em;
		text-align:left;
		width: 100%;
		display: block;
	}
}
@media (min-width: 62em) and (max-width: 75em){
	html {
		background-color: #F5F7F7;
		font-size: 1em;
	} 

	body {
		color: #142837;
		font-family: 'Open Sans', helvetica-light, sans-serif;
		margin: 0 auto;
	}

	.navbar {
		background-color: #2EC6A4;
		height:6em;
		position: fixed;
		width: 100%;
		z-index: 2;
	}

	#container {
		margin: 0 auto;
		padding-top:8.5em;
		padding-bottom:5em;
		text-align: center;
	}

	#title1 {
		color: #F5F7F7;
		display: inline-block;
		font-family: 'Lobster', cursive;
		font-size: 2.5em;
		margin-left: 5%;
		top: -0.4em;
		width: 6%;
	}

	#title2 {
		display: inline-block;
		font-family: 'Crete Round', serif;
		font-size: 3.1em;
		position: relative;
		z-index:3;
	}

	.complete-title {
		display: inline-block;
		padding-top: 2em;
		width: 60%;
	}

	a {
		color:#142837;
		text-decoration: none;
	}

	a.visted {
		color:#142837;
		text-decoration: none;
	}

	#main-nav {
		margin-left: 108em;
	}

	.restaurant-name {
		font-size:2em;
	}

	.restaurant-menu {
		font-family: 'Crete Round', serif;
		display: inline-block;
		padding-left: 20%;
		margin-left: auto;
		z-index: 3;
	}

	.restaurant-menu a{
		color: #142837;
		display: block;
		font-family: 'Crete Round', serif;
		z-index: 3;
	}

	.restaurant-menu a:hover {
		color: #F5F7F7;
	}

	.restaurant-logout {
		/*float: right;*/
	}

	div#time {
		font-size:2em;
		text-align:left;
		margin-left:8.5%;
		width: 50%;
		display: block;
	}
}
.add-reservation-form {
  margin-top:2em;
  padding-bottom:2em;
  text-align: left;
  margin-left: 8.5%;
  width: 88%;
}

form#new_reservation.new_reservation {
 width: 90%;
}

input {
  border-radius: 5px;
  font-family:'Open Sans', helvetica-light, sans-serif;
  font-size: 1em;
  padding:4px;
}

.new_reservation > input {
  border-radius: 5px;
  font-family:'Open Sans', helvetica-light, sans-serif;
  font-size: 1em;
  padding:4px;
  text-align: center;
  width: 15em;
}

.submit_button {
  background-color: #FF9900;
  border: #142837;
  border-radius: 10px;
  color: white;
  font-style: helvetica;
  font-size:3em;
}

form#new_reservation.new_reservation > .submit_button {
 font-size: 1.5em;
 height: 2em;
 position: relative;
 width: 2em;
}
/* line 1, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table {
  text-align: left;
  width: 80%;
  margin-left: 6em;
}
/* line 6, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-head {
  font-size: .8em;
  margin-left: 5%;
}
/* line 10, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-head span.status-head {
  margin-right: 1em;
}
/* line 14, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-head span.party-size {
  margin-left: 4%;
  width: 3%;
}
/* line 19, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-head span.name {
  margin-left: 5%;
  width: 7%;
}
/* line 24, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-head span.phone-number {
  margin-left: 8%;
  width: 7%;
}
/* line 29, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-head span.wait-time {
  margin-left: 14.5%;
  width: 7%;
}
/* line 34, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-head span.seat-time {
  margin-left: 6%;
}
/* line 39, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .th {
  padding: 1em;
  height: 4em;
  margin-top: 1em;
  border-radius: 20px;
}
/* line 46, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body {
  text-align: left;
}
/* line 50, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr {
  position: relative;
  border: 2px solid #FF9900;
  border-radius: 15px;
  margin-top: 1em;
  padding: 1em;
  height: 2em;
}
/* line 59, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr span#status-no-show {
  float: left;
  text-align: center;
  border-radius: 15px;
  height: 1.5em;
  width: 11%;
  font-size: 1.4em;
  color: #F5F7F7;
  background-color: #3498db;
}
/* line 70, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr span#status-waiting {
  float: left;
  text-align: center;
  border-radius: 15px;
  height: 1.5em;
  width: 11%;
  font-size: 1.4em;
  color: #F5F7F7;
  background-color: #2EC6A4;
}
/* line 81, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr span#status-seated {
  float: left;
  text-align: center;
  border-radius: 15px;
  height: 1.5em;
  width: 11%;
  font-size: 1.4em;
  color: #F5F7F7;
  background-color: grey;
}
/* line 92, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr span#status-cancelled {
  float: left;
  text-align: center;
  border-radius: 15px;
  height: 1.5em;
  width: 11%;
  font-size: 1.4em;
  color: #F5F7F7;
  background-color: #e74c3c;
}
/* line 103, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.status {
  float: left;
  font-weight: 700;
  width: 7%;
  z-index: 2;
}
/* line 110, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td {
  text-align: center;
  font-size: 1em;
  height: 2em;
  margin-left: 3%;
}
/* line 117, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.name {
  float: left;
  font-size: 1.5em;
  width: 7%;
  text-align: left;
}
/* line 124, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.party-size {
  float: left;
  font-size: 1.5em;
  width: 3%;
  text-align: left;
}
/* line 131, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.phone-number {
  float: left;
  font-size: 1.5em;
  width: 20%;
  text-align: left;
}
/* line 138, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.wait-time {
  float: left;
  font-size: 1.5em;
  width: 7%;
  text-align: left;
}
/* line 145, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.seat-time {
  float: left;
  font-size: 1.5em;
  width: 7%;
  text-align: left;
}
/* line 156, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.message-button {
  margin-left: 3%;
}
/* line 160, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.ready-message-sent {
  display: inline-block;
  /*margin-left: 50px;*/
}
/* line 165, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.message-ready {
  cursor: pointer;
  display: inline-block;
}
/* line 171, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.delete-button {
  display: inline-block;
}
/* line 175, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.update-button {
  display: inline;
  margin: 40px;
}
/* line 180, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .td.edit, div.table .table-body .tr .giraffe {
  display: inline-block;
  position: absolute;
}
/* line 185, ../../../app/assets/stylesheets/reservations/_show.css.scss */
div.table .table-body .tr .giraffe {
  margin-left: 40px;
}

/* line 192, ../../../app/assets/stylesheets/reservations/_show.css.scss */
input.update {
  font-size: .8em;
  text-align: left;
  width: 100%;
  margin-bottom: 0.2em;
}

/* line 199, ../../../app/assets/stylesheets/reservations/_show.css.scss */
select {
  -webkit-appearance: none;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  padding: .3em;
  height: 1.9em;
  border: 1px #888;
  text-align: center;
  box-shadow: inset 1.5px 1.5px 3px #888;
}
/* line 1, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.error-message {
  margin: 1em;
}

/* line 5, ../../../app/assets/stylesheets/reservations/index.css.scss */
.th {
  font-size: 1.3em;
  margin-left: 2.3em;
  margin-right: 4em;
}

/* line 11, ../../../app/assets/stylesheets/reservations/index.css.scss */
.th.phone {
  margin-left: -0.1em;
}

/* line 15, ../../../app/assets/stylesheets/reservations/index.css.scss */
.table-head {
  height: 36px;
}

/* line 19, ../../../app/assets/stylesheets/reservations/index.css.scss */
.new_reservation > input {
  font-size: 1.3em;
  height: 2em;
  width: 10em;
}

/* line 25, ../../../app/assets/stylesheets/reservations/index.css.scss */
.new_reservation > .submit_button {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}

/* line 31, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table {
  text-align: left;
  width: 80%;
  margin-left: 6em;
}
/* line 36, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-head {
  font-size: .8em;
  margin-left: 5%;
}
/* line 40, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-head span.status-head {
  margin-right: 1em;
}
/* line 44, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-head span.party-size {
  margin-left: 3%;
  width: 3%;
}
/* line 49, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-head span.name {
  margin-left: 4.5%;
  width: 7%;
}
/* line 54, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-head span.phone-number {
  margin-left: 7.5%;
  width: 7%;
}
/* line 59, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-head span.wait-time {
  margin-left: 11.5%;
  width: 7%;
}
/* line 64, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-head span.seat-time {
  margin-left: 6%;
}
/* line 69, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .th {
  padding: 1em;
  height: 4em;
  margin-top: 1em;
  border-radius: 20px;
}
/* line 76, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body {
  text-align: left;
}
/* line 80, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr {
  position: relative;
  border: 2px solid #FF9900;
  border-radius: 15px;
  margin-top: 1em;
  padding: 1em;
  height: 2em;
}
/* line 89, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr span#status-no-show {
  float: left;
  text-align: center;
  border-radius: 15px;
  height: 1.5em;
  width: 11%;
  font-size: 1.4em;
  color: #F5F7F7;
  background-color: #3498db;
}
/* line 100, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr span#status-waiting {
  float: left;
  text-align: center;
  border-radius: 15px;
  height: 1.5em;
  width: 11%;
  font-size: 1.4em;
  color: #F5F7F7;
  background-color: #2EC6A4;
}
/* line 111, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr span#status-seated {
  float: left;
  text-align: center;
  border-radius: 15px;
  height: 1.5em;
  width: 11%;
  font-size: 1.4em;
  color: #F5F7F7;
  background-color: grey;
}
/* line 122, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr span#status-cancelled {
  float: left;
  text-align: center;
  border-radius: 15px;
  height: 1.5em;
  width: 11%;
  font-size: 1.4em;
  color: #F5F7F7;
  background-color: #e74c3c;
}
/* line 133, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.status {
  float: left;
  font-weight: 700;
  width: 7%;
  z-index: 2;
}
/* line 140, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td {
  text-align: center;
  font-size: 1em;
  height: 2em;
  margin-left: 3%;
}
/* line 147, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.name {
  float: left;
  font-size: 1.5em;
  width: 7%;
  text-align: left;
}
/* line 154, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.party-size {
  float: left;
  font-size: 1.5em;
  width: 3%;
  text-align: left;
}
/* line 161, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.phone-number {
  float: left;
  font-size: 1.5em;
  width: 20%;
  text-align: left;
}
/* line 168, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.wait-time {
  float: left;
  font-size: 1.5em;
  width: 7%;
  text-align: left;
}
/* line 175, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.seat-time {
  float: left;
  font-size: 1.5em;
  width: 7%;
  text-align: left;
}
/* line 186, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.message-button {
  margin-left: 3%;
}
/* line 190, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.ready-message-sent {
  display: inline-block;
  /*margin-left: 50px;*/
}
/* line 195, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.message-ready {
  cursor: pointer;
  display: inline-block;
}
/* line 201, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.delete-button {
  display: inline-block;
}
/* line 205, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.update-button {
  display: inline;
  margin: 40px;
}
/* line 210, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.edit {
  display: inline-block;
  position: absolute;
}
/* line 214, ../../../app/assets/stylesheets/reservations/index.css.scss */
div.table .table-body .tr .td.save {
  display: inline-block;
  position: absolute;
}

/* line 222, ../../../app/assets/stylesheets/reservations/index.css.scss */
input.update {
  font-size: .8em;
  text-align: left;
  width: 100%;
  margin-bottom: 0.2em;
}

/* line 229, ../../../app/assets/stylesheets/reservations/index.css.scss */
select {
  -webkit-appearance: none;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  padding: .3em;
  height: 1.9em;
  border: 1px #888;
  text-align: center;
  box-shadow: inset 1.5px 1.5px 3px #888;
}
form#new_restaurant > div > input {
  border-radius: 5px;
  font-family:'Open Sans', helvetica-light, sans-serif;
  font-size: 1em;
  margin-bottom: 5px;
  height: 2em;
  padding:4px;
}
div.headers {
  border:none;
  font-size:1em;
  padding-bottom: 0;
  margin-bottom: -2em;
  margin-left: 2em;
}

span.name-header {
  margin-left: 2em;
  margin-right: 3.4em;
}

span.time-header {
  margin-left: 3em;
  margin-right: 2.7em;
}

.th {
  padding:1em;
  height:4em;
  margin-top:1em;
  border-radius: 20px;
}

.td {
  text-align: center;
  font-size: 1.7em;
  height: 2.5em;
  margin-left: 1em;
}

div.restaurant {
  background-color: #e67e22;
  padding-left: 1em;
  padding-bottom: 0em;
}

span.restaurant-name {
  margin-top: 0.2em;
  float: left;
  width: 11.3em;
  margin-right: 2em;
  margin-left: 2em;
  color: #F5F7F7;
  text-align: left;
  font-size: 1.5em;
}

span.restaurant-max-wait-time {
  float:left;
  margin-top: 0.2em;
  margin-left:0.5em;
  margin-right: 1em;
  color:#F5F7F7;
  width:64px;
  text-align: center;
  font-size: 1.5em;
}

div.guest-table {
  margin: 0 auto;
  text-align: center;
  width: 50em;
}

