@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.add-reservation-form {
  margin-top:3em;
  padding-bottom:3em;
  text-align: left;
  margin-left: 6.1em;
  width: 70em;
}

input {
  border-radius: 5px;
  font-family:'Open Sans', helvetica-light, sans-serif;
  font-size: .8em;
  padding:4px;
}

.submit_button {
  background-color: #2EC6A4;
  border-color: #2EC6A4;
  border-radius: 10px;
  color: #142837;
  font-style: helvetica;
  font-size:3em;
}
