.add-reservation-form {
  margin-top:3em;
  padding-bottom:1em;
  text-align: left;
  margin-left: 6em;
}

input {
  border-radius: 5px;
  font-family: Raleway;
  font-size: .8em;
  padding:4px;
}

.submit_button {
  background-color: #FF4E51;
  border-color: #FF4E51;
  border-radius: 10px;
  color: #142837;
  font-style: helvetica;
  font-size:3em;
}
