.add_guest_form {
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
}

input {
  border-radius: 5px;
  font-family: Raleway;
  font-size: .8em;
  padding:4px;
}

.submit_button {
  background-color: #FF4E51;
  border-color: #FF4E51;
  border-radius: 10px;
  color: #142837;
}
