div.table {
  text-align: left;
  width: 80%;
  margin-left: 6em;

  .table-head {
    font-size:.8em;
    margin-left: 5%;

    span.status-head {
      margin-right: 1em;
    }

    span.party-size {
      margin-left: 4%;
      width: 3%;
    }

    span.name {
      margin-left: 5%;
      width: 7%;
    }

    span.phone-number {
      margin-left: 8%;
      width: 7%;
    }

    span.wait-time {
      margin-left: 14.5%;
      width: 7%;
    }

    span.seat-time {
      margin-left: 6%;
    }
  }

  .th {
    padding:1em;
    height:4em;
    margin-top:1em;
    border-radius: 20px;
  }

  .table-body {

    text-align:left;

    .tr {
      position:relative;
      border: 2px solid #FF9900;
      border-radius: 15px;
      margin-top: 1em;
      padding: 1em;
      height: 2em;


      span#status-no-show {
        float:left;
        text-align:center;
        border-radius:15px;
        height: 1.5em;
        width: 11%;
        font-size:1.4em;
        color:#F5F7F7;
        background-color:#3498db;
      }

      span#status-waiting {
        float:left;
        text-align:center;
        border-radius:15px;
        height:1.5em;
        width: 11%;
        font-size:1.4em;
        color:#F5F7F7;
        background-color:#2EC6A4;
      }

      span#status-seated {
        float:left;
        text-align:center;
        border-radius:15px;
        height: 1.5em;
        width: 11%;
        font-size:1.4em;
        color:#F5F7F7;
        background-color:grey;
      }

      span#status-cancelled {
        float:left;
        text-align:center;
        border-radius:15px;
        height: 1.5em;
        width: 11%;
        font-size:1.4em;
        color:#F5F7F7;
        background-color:#e74c3c;
      }

      .td.status {
        float:left;
        font-weight:700;
        width:7%;
        z-index:2;
      }

      .td {
        text-align: center;
        font-size: 1em;
        height: 2em;
        margin-left: 3%;
      }

      .td.name {
        float: left;
        font-size:1.5em;
        width: 7%;
        text-align: left;
      }

      .td.party-size {
        float: left;
        font-size:1.5em;
        width: 3%;
        text-align: left;
      }

      .td.phone-number {
        float: left;
        font-size:1.5em;
        width: 20%;
        text-align: left;
      }

      .td.wait-time {
        float: left;
        font-size:1.5em;
        width: 7%;
        text-align: left;
      }

      .td.seat-time {
        float: left;
        font-size:1.5em;
        width: 7%;
        text-align: left;
      }

      .td.max-wait-time {

      }

      .td.message-button {
        margin-left: 3%;
      }

      .td.ready-message-sent {
        display: inline-block;
        /*margin-left: 50px;*/
      }

      .td.message-ready {
        cursor: pointer;
        display: inline-block;
        
      }

      .td.delete-button {
        display: inline-block;
      }

      .td.update-button {
        display: inline;
        margin: 40px;
      }

      .td.edit, .giraffe {
        display: inline-block;
        position: absolute;
      }

      .giraffe {
        margin-left: 40px;
      }
    }
  }
}

input.update {
  font-size:.8em;
  text-align: left;
  width:100%;
  margin-bottom: 0.2em;
}

select {
  -webkit-appearance:none;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  padding:.3em;
  height:1.9em;
  border:1px #888;
  text-align:center;
  box-shadow:inset 1.5px 1.5px 3px #888;
}