div.table {
  text-align: left;
  width: 60em;
  margin-left: 6em;

  .table-head {
    font-size:.8em;

    span.status-head {
      margin-right: 3.9em;
    }

    span.name {
      margin-right: 3.4em;
    }

    span.party-size {
      margin-right: 1em;
    }

    span.phone-number {
      margin-right: 5.4em;
    }

    span.wait-time {
      margin-right: 0.1em;
    }
  }

  .th {
    padding:1em;
    height:4em;
    margin-top:1em;
    border-radius: 20px;
  }

  .table-body {

    text-align:left;

    .tr {
      position:relative;
      border: 2px solid #e67e22;
      border-radius: 15px;
      margin-top: 1em;
      padding: 1em;
      height: 2em;

      span#status-waiting {
        float:left;
        text-align:center;
        border-radius:15px;
        height:1.5em;
        width:6em;
        font-size:1.4em;
        color:#F5F7F7;
        background-color:#2EC6A4;
      }

      span#status-seated {
        float:left;
        text-align:center;
        border-radius:15px;
        height: 1.5em;
        width: 6em;
        font-size:1.4em;
        color:#F5F7F7;
        background-color:grey;
      }

      span#status-cancelled {
        float:left;
        text-align:center;
        border-radius:15px;
        height: 1.5em;
        width:6em;
        font-size:1.4em;
        color:#F5F7F7;
        background-color:#e74c3c;
      }

      span#status-no-show {
        float:left;
        text-align:center;
        border-radius:15px;
        height: 1.5em;
        width: 6em;
        font-size:1.4em;
        color:#F5F7F7;
        background-color:#3498db;
      }

      span#status-pending {
        float:left;
        text-align:center;
        border-radius:15px;
        height: 1.5em;
        width: 6em;
        font-size:1.4em;
        color:#F5F7F7;
        background-color:#e67e22;
      }

      .td.status {
        float:left;
        font-weight:700;
        width:5.3em;
        z-index:2;
      }

      .td {
        text-align: center;
        font-size: 1.7em;
        height: 2.5em;
        margin-left: 1em;
      }

      .td.name {
        float: left;
        font-size:1.5em;
        width: 5.6em;
        text-align: left;
      }

      .td.party-size {
        float: left;
        font-size:1.5em;
        width: 1.5em;
        text-align: left;
      }

      .td.phone-number {
        float: left;
        font-size:1.5em;
        width: 7.9em;
        text-align: left;
      }

      .td.wait-time {
        float: left;
        font-size:1.5em;
        width: 1.8em;
        text-align: left;
      }

      .td.seat-time {
        float: left;
        font-size:1.5em;
        width: 5.5em;
        text-align: left;
      }

      .td.max-wait-time {

      }
    }
  }
}

input.update {
  font-size:.8em;
  text-align: left;
  width:7em;
}

.ready-message-sent {
  display: inline-block;
}

.message-ready {
  display: inline-block;
  cursor:pointer;
}

.delete-button {
  display: inline-block;
}

select {
  -webkit-appearance:none;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  padding:.3em;
  height:1.9em;
  border:1px #888;
  text-align:center;
  box-shadow:inset 1.5px 1.5px 3px #888;
}
