
div.error-message {
  margin:1em;
}

div.create-form {
  margin-bottom:4em;
}

.th {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 2.3em;
  margin-right: 4em;
}

.th.phone {
  margin-left: -0.1em;
}

.table-head {
  height: 48px;
}

.new_reservation > input {
  font-size:1.3em;
  height:2em;
  width:10em;
}

.new_reservation > .submit_button {
  font-size:1.5em;
  width:2em;
  height:2em;
}