<div class="tr reservation" data-id="<%= reservation.id %>">
  <span class="td"><%= reservation.name %></span>
  <span class="td"><%= reservation.party_size %></span>
  <span class="td"><%= reservation.wait_time %></span>
</div>