<div id="guest-wait-list">


<div id="guest-container" class="hidden">
  <table id="wait-list-guest">

    <thead class="table-headers">
      <tr>
        <th>Name</th>
        <th>Party Size</th>
        <th>Phone Number</th>
        <th>Wait Time</th>
      </tr>
    </thead>
    <tbody class="guests">
        <tr class="reservation">
            <td><span class="name"></span></td>
            <td><span class="party-size"></span></td>
            <td><span class="phone-number"></span></td>
            <td><span class="wait-time"></span></td>
        </tr>
    </tbody>
  </table>
</div>



</div>
  <div id="template" class="hidden">
      <tr class="reservation">
            <td><span class="name"></span></td>
            <td><span class="party-size"></span></td>
            <td><span class="phone-number"></span></td>
            <td><span class="wait-time"></span></td>
      </tr>
  </div>