<div id="main">
	<h2 id="title1">don't</h2>
	<h1 id="title2">Wait For It</h1>
</div>

<%= render "reservations/form" %>

<div class="error-message">
  <%= flash[:error] %>
</div>

<div class="table">
<table>
  <thead class="table-headers">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Party Size</th>
      <th>Phone Number</th>
      <th>Wait Time</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <%= render partial: "reservations/new", locals: { reservation: reservation } %>
    <% end %>
  </tbody>
</table>
</div>
