<div class="time-now">
</div>

<div id="guest-content">
  <div class="guest-name">
    <%= @reservation.name %>,
    <br/>your ETDine is:
  </div>

  <div class="seat-time">
    <%= @reservation.estimated_seat_time_display %>
  </div>

  <div class="cancel-button">
    <a href="#">cancel</a>
  </div>
</div>