div.headers {
  border:none;
  font-size:1em;
  padding-bottom: 0;
  margin-bottom: -2em;
  margin-left: 2em;
}

span.header {
  margin-left:2.4em;
  margin-right:1.8em;
}

.th {
  padding:1em;
  height:4em;
  margin-top:1em;
  border-radius: 20px;
}

.td {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  height: 2.5em;
  margin-left: 1em;
}

div.restaurant {
  background-color: #e67e22;
  padding-left: 1em;
  padding-bottom: 0em;
}

span.restaurant-name {
  float:left;
  width:5.3em;
  margin-right:2em;
  margin-left:1.6em;
  color:#F5F7F7;
  text-align: center;
}

span.restaurant-max-wait-time {
  margin-left:0.5em;
  color:#F5F7F7;
  width:64px;
  text-align: center;
}

div.guest-table {
  margin: 0 auto;
  text-align: center;
  width: 50em;
}

