div.headers {
  border:none;
  font-size:1em;
  padding-bottom: 0;
  margin-bottom: -2em;
  margin-left: 2em;
}

span.name-header {
  margin-left: 2em;
  margin-right: 3.4em;
}

span.time-header {
  margin-left: 3em;
  margin-right: 2.7em;
}

.th {
  padding:1em;
  height:4em;
  margin-top:1em;
  border-radius: 20px;
}

.td {
  text-align: center;
  font-size: 1.7em;
  height: 2.5em;
  margin-left: 1em;
}

div.restaurant {
  background-color: #e67e22;
  padding-left: 1em;
  padding-bottom: 0em;
}

span.restaurant-name {
  margin-top: 0.2em;
  float: left;
  width: 11.3em;
  margin-right: 2em;
  margin-left: 2em;
  color: #F5F7F7;
  text-align: left;
  font-size: 1.5em;
}

span.restaurant-max-wait-time {
  float:left;
  margin-top: 0.2em;
  margin-left:0.5em;
  margin-right: 1em;
  color:#F5F7F7;
  width:64px;
  text-align: center;
  font-size: 1.5em;
}

div.guest-table {
  margin: 0 auto;
  text-align: center;
  width: 50em;
}

