<% if session[:restaurant_id]%>
	<div class='logged-in'>
		<% logged_in_restaurant = Restaurant.find(session[:restaurant_id]) %>
		<%= 'Hello ' + logged_in_restaurant.name %>
	</div>

	<div class='logout'>
		<% if session[:restaurant_id] %>
		<%= link_to 'Logout', session_path(session), method: :delete %>
		<% end %>
	</div>
<% end %>
