<tr class="restaurant" data-id="<%= restaurant.id %>">
  <td><span class="name"><%= restaurant.name %></span></td>
  <td><span class="max_wait_time">
    <%= restaurant.reservations.party_size %>  
  </span></td>


</tr>