<div class="guest-table">
	<table>
		<thead>
			<div class="th headers">
				<span class='td header'>Restaurant</span>
				<span class='td header'>Wait Time (mins)</span>
			</div>
		</thead>
		<tbody>
			<% @restaurants.each do |restaurant| %>
				<%= render partial: 'restaurants/show', locals: { restaurant: restaurant } %>
			<% end %>
		</tbody>
	</table>
</div>