html {
  background-color: #F5F7F7;
  font-size: 16px;
}

body {
  color: #142837;
  font-family: Raleway;
  margin: 0 auto;
}

#navbar {
  position:fixed;
  width:100%;
  height:6em;
  background-color:#2EC6A4;
  z-index:1;
}

#container {
  padding-top:10em;
  text-align: center;
}

#main {
  position: relative;
}

#title1 {
  color: #F5F7F7;
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  position: relative;
  margin-left: .2em;
  bottom:3.5em;
  -webkit-transform: rotate(-16deg);
  z-index:3;
}


#title2 {
  position:relative;
  margin-left:2.5em;
  bottom:1.5em;
  display:inline-block;
  font-family: 'Crete Round', serif;
  font-size: 3.1em;
  z-index:2;
}

a {
  text-decoration: none;
  color:#142837;
}
