html {
  background-color: #F5F7F7;
  font-size: 16px;
}

#container {
  margin: 2em;
  text-align: center;
}

body {
  color: #142837;
  font-family: Raleway;
  margin: 0 auto;
}

#main {
  position: relative;
}

#title1 {
  color: #2EC6A4;
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  position: relative;
  right: 4.7em;
  text-align: center;
  top: 2em;
  -webkit-transform: rotate(-20deg);
}

#title2 {
  font-family: 'Crete Round', serif;
  font-size: 3.1em;
}
