html {
	background-color: #F5F7F7;
	font-size: 16px;
}

.main {
	position: relative;
}

p#title1 {
	position: absolute;
	top: -1em;
	left: 7.3em;
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	text-align: center;
	-webkit-transform: rotate(-20deg);
	color: #2EC6A4;
}

p#title2 {
	font-family: 'Crete Round', serif;
	font-size: 3.1em;
}

body {
	font-family: Raleway;
	margin: 0 auto;
  color: #142837;
}

#container {
	text-align: center;
	margin: 2em;
}

div.table {
	width: 55em;
	padding-top: 2em;
	text-align: center;
	margin: 0 auto;
}

div.table-headers {
	width: 100%;
}

table {
	margin: 0 auto;
	width: 100%;
}

th {
	font-weight: bold;
	height: 2em;
	font-size: 1.3em;
}

td {
	font-weight: bold;
	height: 2em;
	font-size: 1.7em;
}

.add_guest_form {
	margin: auto;
	display: block;
	text-align: center;
}

div.error-message {
	margin:1em;
}

input {
	font-family: Raleway;
	border-radius: 5px;
	padding:4px;
	font-size: .8em;
}

input.updated-party-size {
	text-align: center;
	font-size: 1em;
	width:25%;
}

.form_fields {
	font-family: Raleway;
	border-radius: 10px;
}

.submit_button {
	background-color: #FF4E51;
	color: #142837;
	border-radius: 10px;
	border-color: #FF4E51;
	font-family: Raleway;
	font-weight: bold;
}

.delete {
	text-decoration: none;
	border: 2px solid; 
	color: #21A88A;
  -webkit-border-radius: 78%;
  padding: 4px;
  overflow: hidden;
}

.delete:hover {
	color: #2EC6A4;
}

.hidden {
	display:none;
}