/******** Basic Elements ********/
html {
	background-color: #F5F7F7;
	font-size: 16px;
}

#container {
	margin: 2em;
	text-align: center;
}

body {
  color: #142837;
	font-family: Raleway;
	margin: 0 auto;
}

#main {
	position: relative;
}

/******** Title *******/
#title1 {
	color: #2EC6A4;
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	position: relative;
	right: 4.7em;
	text-align: center;
	top: 2em;
	-webkit-transform: rotate(-20deg);
}

#title2 {
	font-family: 'Crete Round', serif;
	font-size: 3.1em;
}

/****** Reservation Form *******/
.add_guest_form {
	display: block;
	margin: auto;
	text-align: center;
}


input {
	border-radius: 5px;
	font-family: Raleway;
	font-size: .8em;
	padding:4px;
}

input.updated-party-size {
	font-size: 1em;
	text-align: center;
	width:25%;
}

.form_fields {
	border-radius: 10px;
	font-family: Raleway;
}

.submit_button {
	background-color: #FF4E51;
	border-color: #FF4E51;
	border-radius: 10px;
	color: #142837;
	font-family: Raleway;
	font-weight: bold;
}

div.error-message {
	margin:1em;
}

/******* Reservation Table *****/

div.table {
	margin: 0 auto;
	padding-top: 2em;
	text-align: center;
	width: 85%;
}

.table-headers {
	width: 100%;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
		0px 10px 20px rgba(0,0,0,0.05),
		0px 20px 20px rgba(0,0,0,0.05),
		0px 30px 30px rgba(0,0,0,0.05);
	margin: 25px auto;
	width: 100%;
}

th {
	font-size: 1.3em;
	font-weight: bold;
	height: 2em;
}

td {
	font-size: 1.7em;
	font-weight: bold;
	height: 2.5em;
}

tbody tr:hover {
  background-color: #A4E1FF;
  -webkit-transition: 1s;
}

/****** Button Column ******/
.button_column {
	width: 40px;
}

.delete {
	border: 2px solid;
  border-radius: 100%;
	color: #21A88A;
	display: block;
	height: 1em;
  overflow: hidden;
  padding: 0 0 0.2em 0;
  text-align: center;
	text-decoration: none;
	width: 1em;
}

.delete:hover {
	color: #2EC6A4;
}

.hidden {
	display:none;
}

button.message-ready {
  display: inline-block;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background: url(messages-icon.png) no-repeat;
}

button.ready-message-sent{
   display: inline-block;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background: url(Button-Ok-icon.png) no-repeat;
}