body {
  margin: 0 auto;
  font-size: 16px;
}

#container {
  text-align: center;
  margin: 2em;
}

div.table {
  position: relative;
  width:55em;
  padding-top:2em;
  text-align: center;
  margin: 0 auto;
/*  background-color:#e74c3c; */
}

div.table-headers {
  width:100%;
}

table {
  margin: 0 auto;
  width: 100%;
}

th {
  height:5em;
  font-size: 2em;
}

td {
  height:3em;
  font-size: 1.5em;
  background-color:#e67e22;
}

