<div id="template" class="hidden">
  <form class="tr reservation" data-restaurant-id="<%= current_restaurant.id %>" method="post" >
    <div class="status-flag">
      <span class="td status" id='status-waiting'></span>
    </div>

    <span class="td party-size"></span>
    <span class="td name"></span>
    <span class="td phone-number"></span>
    <span class="td wait-time"></span>
    <span class="td seat-time"></span>
    <span class="message-button">

      <div class="delete-button"></div>
    </span>
  </form>
  <span class="td message-button">
    <div class="td ready-message-sent">
      <%= image_tag('sms-sent.png')%>
    </div>
    <div class="td message-ready">
      <%= image_tag('sms.png') %>
    </div>
  </span>
</div>