<div id="template" class="hidden">
  <form class="tr reservation" data-restaurant-id="<%= current_restaurant.id %>" method="post" >
    <div class="status-flag">
      <span class="td status" id='status-waiting'></span>
    </div>

    <span class="td party-size"></span>
    <span class="td name"></span>
    <span class="td phone-number"></span>
    <span class="td wait-time"></span>
    <span class="td seat-time"></span>
    <span class="message-button">

      <div class="delete-button"></div>
    </span>
  </form>
</div>