<!DOCTYPE html>
<html>
<head>
	<title>WaitForIt</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Crete+Round|Raleway|Lobster' rel='stylesheet' type='text/css'>
	<link href="/app/assets/stylesheets/reservation.css" media="screen" rel="stylesheet" type="text/css" />
	<!-- <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
</head>
<body>

	<div id="container">
		<div class="main">
			<p id="title1">don't</p>
			<p id="title2">Wait For It</p>
		</div>

		<%= yield %>
	</div>

</body>
</html>
