<!DOCTYPE html>
<html>
<head>
	<title>WaitForIt</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Crete+Round|Raleway|Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navbar">
			<span id="title1">don't</span>
			<h2 id="title2"><a href="/">Wait For It</a></h2>
	</div>

	<div id="container">
		<%= yield %>
	</div>

</body>
</html>
